@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* .text {
  color: #8b5cf6;
} */
html {
  scroll-behavior: smooth;
}
@media (min-width: 200px) and (max-width: 450px) {
  .width {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 450px) and (max-width: 1000px) {
  .justify {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
